
name: 编译文档

on:
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: 克隆仓库
        uses: actions/checkout@v4

      - name: 环境 - 安装 pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true
          version: 9

      - name: 环境 - 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: 构建和检查
        env:
          NODE_OPTIONS: --max_old_space_size=20480
        run: |-
          # pnpm install
          pnpm run docs:build

      - name: 部署文档
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: .vuepress/dist
